@media screen and (min-width: 641px) {
    nav {
        display: flex;
        justify-content: center;
    }

    #menu {
        display: none;
    }

    .navigation {
        display: flex;
        flex-direction: row;
    }

    .navigation li a {
        padding: 1rem 2rem;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: 1rem;
    }

    .visitor-message {
        grid-column: 1;
    }

    .discover-grid {
        grid-column: 2;
        grid-template-areas:
            "card1 card2"
            "card3 card4"
            "card5 card6"
            "card7 card8";
    }

    .discover-card img:hover {
        filter: brightness(1.2);
        box-shadow: 0 0 10px rgba(0,0,0,0.3);
        transition: all 0.3s ease;
    }
}

@media screen and (min-width: 1025px) {
    .discover-grid {
        grid-template-areas:
            "card1 card2 card3 card4"
            "card5 card6 card7 card8";
    }
}
